.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.container {
  padding-left: 40px;
  padding-right: 40px;

}
/* navbar */
.navbar-default {
    background-color: #f5f5f5;
    border-color: #E7E7E7;
}
